<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./picture/apple1.jpg">

    <title>apple工程行</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/customer.css" rel="stylesheet">
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>
  </head>
  <body onload="insertText();">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Project name</a>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/project/administer">管理 <span class="sr-only">(current)</span></a></li>
            <li><a href="/project/administer/list">全部顧客</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="sub-header">{{subject}}</h1>
          <div class="table-responsive">
            <form action={{ router }} method="post" id="myForm" name="myForm" onsubmit="return checkFunction()">
              <table class="table table-striped" id="myTable">
                <thead>
                  <tr>
                    {% for titleItem in title %}
                      <th>{{ titleItem }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for a in apple %}
                  <tr>
                    {% for item in a%}
                      <td>{{ item }}</td>
                    {% endfor %}
                    <td><input type="button" value="更新" onclick="updateFunction('{{a.td}}')"></td>
                    <td><input type="button" value="刪除" onclick="deleteFunction('{{a.td}}')"></td>
                  </tr>
                  {% endfor %}
                  <tr>
                    {% for count in title %}
                      {% if count == "id"%}
                        {% if router == "/insert/project" %}
                          <td id="tdId">{{ countId }}</td>
                        {% endif %}
                      {% endif %}
                      {% if count == "數量" %}
                        <td id="td"></td>
                      {% endif %}
                      {% if count != "數量" && count != "id" && count!="動作"%}
                        <td><input type=text name={{count}} id={{count}} value=""></td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
              {% if router != null %}
                <input type="submit" value={{ value }} id="submit">
              {% endif %}
            </form>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        function updateFunction(a) {
            document.getElementById("tdId").innerHTML = "<input type='text' name='id' id='textId'></input>";
            document.getElementById("textId").value = document.getElementById("myTable").rows[a].cells[1].firstChild.data;
            document.getElementById("name").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
            document.getElementById("sex").value = document.getElementById("myTable").rows[a].cells[3].firstChild.data;
            document.getElementById("old").value = document.getElementById("myTable").rows[a].cells[4].firstChild.data;
            document.getElementById("birthday").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
            document.getElementById("myForm").action = "/update/project";
            document.getElementById("submit").value = "修改";
        }

        function deleteFunction(a) {
            document.getElementById("tdId").innerHTML = "<input type='text' name='id' id='textId'></input>";
            document.getElementById("textId").value = document.getElementById("myTable").rows[a].cells[1].firstChild.data;
            document.getElementById("name").value = document.getElementById("myTable").rows[a].cells[2].firstChild.data;
            document.getElementById("sex").value = document.getElementById("myTable").rows[a].cells[3].firstChild.data;
            document.getElementById("old").value = document.getElementById("myTable").rows[a].cells[4].firstChild.data;
            document.getElementById("birthday").value = document.getElementById("myTable").rows[a].cells[5].firstChild.data;
            document.getElementById("myForm").action = "/delete/project";
            document.getElementById("submit").value = "刪除";
        }
        function checkFunction(){
          if(document.myForm.name.value=="" || document.myForm.sex.value=="" || document.myForm.old.value=="" || document.myForm.birthday.value=="" || document.myForm.textId.value==""){
            alert("所有欄位都必須填寫");
            return false;
          }
          return true;
        }

        function insertText () {
          document.getElementById('td').innerHTML = document.getElementById("myTable").rows.length - 1;
        }
      </script>
  </body>
</html>
