body {
    background-image: linear-gradient(to top, #517fa4 0%, #243949 100%) ;
    height: 100vh;
    color: #fff;
  }
  .margintop30{
    margin-top:30px;
  }
.inputPassword
    {
    margin:3px;
    height:36px;
    width:300px;
    background:url(https://github.com/Plusone7/web_img/blob/master/img/pswInput_01.png?raw=true) no-repeat; 
    color:#2F4A5F;
    padding-left:45px; 
    font-size:15px;
    
    }
.inputUser{
    margin:3px;
    height:36px;
    width:300px;
    background:url(https://github.com/Plusone7/web_img/blob/master/img/userInput_01.png?raw=true) no-repeat; 
    color:#2F4A5F;
    padding-left:45px;
    font-size:15px;   
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #2F4A5F;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #2F4A5F;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #2F4A5F;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #2F4A5F;
  }
p{
  color: rgba(255,255,255, 0.7);
}
