#startStopButton{
    width:300px;
    height:300px;
    border: 1px dashed red;
    /*background-color: transparent;*/
    background-color:rgba(255,0,0,0.1);
    outline:none;
    border-radius: 300px;
    background-image:url(./20081214161948596.png);
    background-size: 300px 300px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left:-150px;
}
body, html{
    background-size: 100% 100%;
    position: relative;
}
.labelColor{
    color:rgb(255,255,255);
}
